@import "tailwindcss";

:root {
  --primary: #009689;
  --header-text: #013334;
}

@theme inline {
  --color-primary: var(--primary);
  --color-header-text: var(--header-text);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  background: #fff;
}
