@import "tailwindcss";

:root {
  --primary: #012b1b;
  --secondary: #7db942;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: #fff;
}
